
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  background: beige;
}

#admin-page{
  padding-top: 0px;
}

button.btn.btn-primary.toggle-replies.pull-right{
  margin: 15px;
}

.reply-form-on-post-pages{
  display: none;
}

.media{
  margin-top:0;
  margin-bottom:15px;
}